@import "tailwindcss";

@theme inline {
  --color-background: #0B1021;
  --color-foreground: #ffffff;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

/* Custom selection color */
::selection {
  background-color: #D4AF37;
  color: #000000;
}
